.list-products {
    position: relative;
    background: var(--white-color);
    border-radius: 6px;
    height: 260px;
    box-shadow: 0 1px 7px rgb(0 0 0 / 10%);
    overflow: hidden;

    &:hover .list-imgProduct {
        transform: scale(1.02);
    }

    @media screen and (min-width: 320px) {
        padding: 0;
    }
}

.list-imgProduct {
    width: 100%;
    height: 160px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s linear;    
}

.product-img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 6px;
}
.list-infoProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 0 16px 16px;
}

.list-skuProduct {
    color: #9ca3af;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    margin: 4px;
}

.list-nameProduct {
    font-family: "Open sans", sans-serif !important;
    width: 100%;
    margin-bottom: 4px;
    text-align: left;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 20px;
    color: var(--text-color);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 36px;
}
.action-btn {
    width: 36px;
    height: 36px;
    color: var(--primary-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    transition: all 0.2s linear;

    &:hover {
        color: var(--white-color);
        background: var(--primary-color);
    }

    + .action-btn {
        margin-left: 4px;
    }
}


.list-priceProduct {
    color: #1f2937;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.8rem;
}

