// Categories



.list-categories {
    border: 1px solid #f3f4f6;
    background: var(--white-color);
    padding: 16px;
    cursor: pointer;
    transition: all 0.3s linear;

    &:hover {
        box-shadow: -4px 8px 12px rgb(0 0 0 / 10%);
    }

    &:hover .main-category {
        color: var(--primary-color);
    }
}

.img-category {
    width: 35px;
    height: 35px;
    border-radius: 4px;
}


.list-categoryName {
    padding-left: 9px;
}

.main-category {
    line-height: 17px;
    font-weight: 400;
    color: var(--text-color);
    font-size: 1.4rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.sub-categories {
    margin-top: 4px;
    font-size: 1.2rem;
}

.sub-categoryItem {
    display: block;
    line-height: 1.6rem;
    color: var(--subtext-color);

    &:hover {
        color: var(--primary-color);
    }
}