.cart-drawer {
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cart-head {

}
.cart-info {

}
.cart-empty {

}
.cart-footer  {

}