.checkout-bg {
    display: flex;
    justify-content: space-between;
    padding: 48px 40px;
    background: var(--background-color);

    @media (max-width: 768px) {
        flex-direction: column-reverse;
    }
    @media (max-width: 640px) {
        padding: 48px 12px;
    }
}

.checkout-card {
    flex: 1;
    margin-right: 40px;
    @media (max-width: 1024px) {
        margin-right: 24px;
    }
    @media (max-width: 768px) {
        margin-right: 0;
        margin-top: 20px;
    }
}

.form-checkout {

}

.personal-info {

}

.wrapper-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 24px;
}

.checkout-head {
    color: #374151;
    font-weight: 700;
    line-height: 2.4rem;
    font-size: 1.6rem;
    padding-bottom: 12px;
}

.form-inputPersonal,.form-inputShipping  {
    font-family:  "Open Sans", sans-serif;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    border-radius: 6px;
    font-size: 1.4rem;
    line-height: 30px;
    padding: 8px 20px;
    width: 100%;

    &:focus {
        border: 1px solid var(--primary-color);
    }

    label {
        font-weight: 500;
        line-height: 1.4rem;
        margin-bottom: 18px;
    }
}

.shipping-info {
    margin-top: 10px;
}

.label-info {
    display: block;
    font-size: 1.4rem;
    line-height: 14px;
    text-align: left;
    color: #6b7280;
    margin-bottom: 8px;
}

.checkout-head {

}

.cost-card,.payment-method {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;

    background: var(--white-color);
    border: 1px solid var(--border-color);
    border-radius: 6px;
    padding: 12px;
    cursor: pointer;
    h6 {
        color: var(--text-color);
        font-size: 1.4rem;
        line-height: 2rem;
        font-weight: 500;
    }
    p {
        font-family: "Open Sans", sans-serif;
        color:#6b7280;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.6rem;
    }
    .shipping-radio {
        width: 16px;
        height: 16px;
        margin-bottom: 0;

        &:checked {
        background: var(--primary-color);
        }
    }
}

.paymentInput {

}


.payment-info {
    margin-top: 30px;
}


.continue-shopping {
    text-align: center;
    background-color: #eef2ff;
    border-radius: 4px;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    padding: 12px 0;
    margin-top: 40px;
    flex: 1;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;

    &:hover {
        border: 1px solid #eef2ff;
    }
}

.confirm-payment {
    text-align: center;
    background-color: #eef2ff;
    border-radius: 4px;
    color: var(--white-color);
    background: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 400;
    padding: 12px 0;
    transition: all 0.2s ease-in-out;
    margin-top: 40px;
    flex: 1;

    &:hover {
        background: var(--hover-primary-color);
    }
}

.undo-icon {
    position: relative;
    top: 5px;
    margin-right: 10px;
}
.arrowNext-icon {
    position: relative;
    top: 5px;
    margin-left: 10px;
}

.shipAndPay {
    color: #9ca3af;
    line-height: 3.2rem;
}

.order-summary {
    position: sticky;
    top: calc(var( --header-height) + var(--nav-height));
    background: var(--white-color);
    border: 1px solid var(--border-color);
    padding: 32px;
    border-radius: 8px;
    width: 40%;
    height: 50%;

    @media (max-width: 768px) {
        position: unset;
        top: unset;
        width: 100%;
    }

    h2 {
        padding-bottom: 16px;
        line-height: 2.8rem;
        font-weight: 600;
        font-size: 1.8rem;
    }
}

.order-isEmpty {
    padding: 40px;
    background: var(--background-color);
    text-align: center;
    height: 144px;

    svg {
        opacity: 0.6;
    }

    h2 {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2rem;
    }
}


.coupon-code {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Open Sans", sans-serif;
    margin-top: 16px;
    padding: 16px 0;
    max-height: 80px;
}

.input-coupon {
    border-radius: 6px;
    font-size: 1.4rem;
    line-height: 3rem;
    padding: 8px 20px;
    flex: 1;
    border: 1px solid var(--border-color);
    &:focus {
        border: 1px solid var(--primary-color);
    }
}

.btn-coupon {
    border-radius: 6px;
    font-size: 1.4rem;
    line-height: 3rem;
    padding: 8px 20px;
    margin-left: 12px;
    font-weight: 600;
    width: 30%;
    border: 1px solid var(--border-color);
    transition: all 0.2s linear;

    &:hover {
        color: var(--white-color);
        background: var(--hover-primary-color);
    }
}

.title-summary {
    color: #6b7280;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 20px;
}

.price-summary {
    color: #1f2937;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;
}

.total-cost {
   line-height: 2rem;
   font-size: 1.4rem;
   font-weight: 700;
   text-transform: uppercase;
}

.total-price {
    font-size: 1.8rem;
    font-weight: 800;
    line-height: 2.8rem;
    text-transform: uppercase;
}
