.nav {
    background: var(--white-color);
    height: var(--nav-height);
    border-bottom: 1px solid var(--border-color);
}

.nav-menu,.nav-policy {
    height: 100%;
}

.nav-btn {
    font-size: 1.4rem;
    margin: 0 18px !important;

    &:first-of-type {
        margin-right: 12px !important;
        margin-left: 0 !important;
    }
    &:last-of-type {
        margin-left: 12px !important;
        margin-right: 0px !important;
    }
}

.arrowDown-icon {
    padding-right: -5px !important;
}



.nav-btn.offers-btn {

    span {
        position: relative;
        padding: 4px 8px !important;
        background: #fee2e2;
        color: #ef4467;
        border-radius: 4px;

        .ping-dot {
            position: absolute;
            top: -0.45rem;
            right: -0.35rem;
            width: 0.8rem;
            height: 0.8rem;
            padding: 0 !important;
            border-radius: 50%;
            background: #ef4444;
            z-index: 100;

            &::before {
                position: absolute;
                display: block;
                content: "";
                border-radius: 50%;
                background: #f87171;
                width: 0.8rem;
                height: 0.8rem;
                animation: pingBefore 1s cubic-bezier(0,0,0.2,1) infinite;
            }
            &::after {
                position: absolute;
                content: "";
                display: block;
                border-radius: 50%;
                width: 0.8rem;
                height: 0.8rem;
                background:#ef4444;
                animation: pingAfter 1.05s cubic-bezier(0,0,0.2,1) infinite;
            }
        }
    }
}

@keyframes pingBefore {
    from {
        opacity: 0.5;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(2);
    }
}

@keyframes pingAfter {
    from {
        opacity: 0.25;
        transform: scale(1.5);
    }

    to {
        opacity: 0;
        transform: scale(2.5);
    }
}

.policy-btn,.term-btn {
    font-size: 1.4rem;
    margin: 0 16px;
}


.categories-result,.page-result {
    border-radius: 8px;
    width: 320px;
    border: 1px solid var(--border-color);
    background: var(--white-color);
    max-height: 66vh;
}
